.container {
}


.productsRow {
    display: flex;
    justify-content: space-between;

}


.products {
    width: 282.02px;
    height: 514.45px;
}

.img2 {
    /* width: 282.02px;
    height: 398.72px; */
    width: 150px;
    height: 200px;
}

.type3 {
    width: 83.77px;
    height: 22.28px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #656565;
}

.tittle3 {
    width: 283px;
    height: 45px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    color: #000000;
}

.price3 {
    width: 123px;
    height: 31px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 32px;
    color: #656565;
}

